.Control-Buttons {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.buttonColor{
  color: #6667AB;
}
.buttonDisable{
  color: gray;
}