.stop-watch{
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 55%;
    position: absolute;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 8px;
}

