@import "../main.scss";

.home-todays-studyrooms-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  gap: 15px;
}
.home-study-box {
  background: var(--bgColor);
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 10px;
  height: 117px;
  margin-bottom: 1%;
  margin-top: 9px;
  padding: 1.1rem 1.5rem;
  transition: all 0.2s linear;
  overflow: hidden;
}
.home-study-box:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 5px 1px rgba(104, 105, 172, 0.25);
  transition: all 0.5s ease 0s;
}

.home-study-box__top {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  .home-study-box__top-category {
    width: 10%;
    color: $mainColor;
    font-size: 12px;
    margin-right: 8px;
  }
  .home-study-box__top-title {
    width: 45%;
    overflow: hidden;
    color: var(--textColor);
    font-size: 15px;
    margin-right: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.home-study-box__time {
  font-size: 13px;
  margin-right: 10px;
  width: 26%;
  color: var(--textColor-todo);
}
.home-study-box__desc {
  color: var(--textColor-todo);
  font-size: 14px;
  padding-bottom: 7px;
}
.home-study-box__footer {
  display: flex;
  align-items: center;
}
.home-study-box__img-wrapper {
  margin-bottom: 3px;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  & img {
    position: relative;
    // top: -20px;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 100%;
  }
}
.home-study-box__host {
  padding-left: 4px;
  color: var(--textColor-todo);
  font-size: 14px;
  padding-top: 2px;
  margin-right: 10px;
}
.home-study-box__members {
  & span {
    font-size: 12px;
    align-items: center;
    color: var(--textColor);
  }
  margin-right: 8px;
}
.studyroom-in__btn {
  border: none;
  background-color: $mainColor;
  color: #eeeeee;
  border-radius: 5px;
  font-size: 14px;
  padding: 0.3rem 1.6rem;
  margin-right: 6px;
}
.studyroom-in__no-btn {
  border: 1px solid $mainColor;
  background-color: var(--bgColor);
  color: var(--textColor);
  border-radius: 5px;
  font-size: 14px;
  padding: 0.3rem 1.3rem;
}
