@import "../main.scss";

.home-todays-studyrooms-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-study-box {
  background: var(--bgColor);
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 10px;
  // width: 100%;
  height: 117px;
  margin-bottom: 1%;
  margin-top: 9px;
  margin-right: 15px;
  overflow: auto;
}
