@import "../main.scss";

.home-todays {
  font-family: $font-family;
  padding-right: 7%;
  & span {
    font-size: 16px;
    line-height: 19px;
    color: var(--textColor);
    margin-left: 5px;
  }
  .home-todays-top {
    display: grid;
    grid-template-columns: 4fr 5fr;
    // grid-template-rows: repeat(auo-fit, minmax(200px, 2fr));
    // grid-template-rows: 197px;
    margin-bottom: 8vh;
    // width: 100%;
    // margin-right: 8%;
    .home-todays-todos {
      padding-right: 20px;
      & button {
        border: none;
        background-color: var(--bgColor);
        font-size: 12px;
        color: var(--textColor-todo);
        float: right;
        padding-right: 15px;
        // margin-bottom: 0px;
        padding-top: 6px;
        // font-style: italic;
      }
      .home-todays-todos-box {
        background: var(--bgColor);
        border: 1px solid var(--borderColor);
        box-sizing: border-box;
        // width: 24vw;
        // width: 100%;
        height: 197px;
        border-radius: 10px;
        margin-top: 6px;
        padding: 10px 0;
        overflow: auto;
      }
    }
    // .home-todays-goal-box {
    //   background: var(--bgColor);
    //   border: 1px solid var(--borderColor);
    //   // width: 32vw;
    //   height: 197px;
    //   border-radius: 10px;
    //   margin-top: 6px;
    //   margin-right: 15px;
    //   // overflow: auto;
    // }
  }
  .home-todays-studyrooms {
    margin-bottom: 8vh;
    // .home-todays-studyrooms-row {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    //   .home-todays-studyrooms-box {
    //     background: var(--bgColor);
    //     border: 1px solid var(--borderColor);
    //     box-sizing: border-box;
    //     border-radius: 10px;
    //     // width: 100%;
    //     height: 117px;
    //     margin-bottom: 1%;
    //     margin-top: 9px;
    //     margin-right: 15px;
    //   }
    // }
  }
  .home-todays-meetingrooms {
    .home-todays-meetingrooms-row {
      display: flex;
      .home-todays-meetingrooms-box {
        background: var(--bgColor);
        border: 1px solid var(--borderColor);
        box-sizing: border-box;
        border-radius: 10px;
        width: 50%;
        height: 243px;
        margin-bottom: 1%;
        margin-top: 9px;
        margin-right: 15px;
      }
    }
  }
}
