@import "main.scss";

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  & svg {
    // outline: none;
    cursor: pointer;
    height: 15px;
    // border: 0;
  }
  > section {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fcfcfc;
    animation: modal-show 0.3s;
    overflow: hidden;
    > header {
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding: 15px;
      background-color: #fcfcfc;
      // font-weight: 700;
    }
    > main {
      padding: 5px 16px 40px 16px;
      text-align: center;
      .body-heading1 {
        font-size: 20px;
        line-height: 19px;
        color: #434343;
        margin-bottom: 10px;
      }
      .body-heading2 {
        font-size: 12px;
        line-height: 12px;
        color: #858585;
        padding-bottom: 32px;
        padding-left: 4px;
        padding-right: 4px;
      }
      .auth-message {
        color: #eb5656;
        // margin-bottom: 20px;
      }
      .exist {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .pwd-search {
        display: flex;
        justify-content: center;
      }
      input {
        height: 32px;
        width: 65%;
        background: #f7f7f7;
        border: 1px solid #e1e1e1;
        box-sizing: border-box;
        border-radius: 5px;
      }
      ::placeholder {
        padding-left: 5px;
        font-size: 11px;
        line-height: 12px;
        color: #cbcbcb;
      }
      .btn-xs {
        cursor: pointer;
        height: 32px;
        width: 15%;
        border: 1px solid $mainColor;
        background-color: $mainColor;
        border-radius: 5px;
        color: white;
        margin-left: 6px;
        margin-bottom: 1.5px;
      }
      .btn-m {
        cursor: pointer;
        color: white;
        font-size: 16px;
        line-height: 17px;
        height: 36px;
        width: 20%;
        border: none;
        background: #6667ab;
        border-radius: 10px;
        // margin: 20px;
      }
    }
    > footer {
      padding: 12px 16px;
      text-align: right;
      button {
        padding: 6px 12px;
        color: #fff;
        background-color: #6c757d;
        border-radius: 5px;
        font-size: 13px;
      }
    }
  }
}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
