@import "main.scss";

.settings {
  background-color: var(--htmlbgColor);
  display: flex;
  padding-right: 18%;
  .settings-sidebar {
    margin-right: 6.5%;
    padding-left: 10%;
    // padding-right: 10%;
    .settings-myprofile {
      font-family: $font-family;
      display: flex;
      align-items: center;
      padding-top: 80px;
      padding-bottom: 14px;
      padding-left: 10%;
      margin-left: 10px;
      .settings-myprofile-img-wrapper {
        position: relative;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        margin-right: 13px;
        & img {
          position: relative;
          top: -42px;
          left: 0;
          transform: translate(50, 50);
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
          border-radius: 100%;
          // padding-right: 10px;
        }
        & svg {
          position: relative;
          top: 0;
          left: 0;
          transform: translate(50, 50);
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
          border-radius: 100%;
        }
      }
      .settings-myprofile__text {
        .settings-myprofile__text-nickname {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: var(--textColor);
        }
        .settings-myprofile__text-email {
          font-size: 14px;
          line-height: 17px;
          color: var(--textColor-darker);
        }
      }
    }
  }
}
