@import "main.scss";

.settings-profile {
  // background-color: var(--bgColor);
  width: 100%;
  .settings-profile__box {
    padding: 80px 10px 0 15px;
    // color: var(--textColor);
    // .settings-profile__box-text {
    // }
    .settings-profile__box-heading {
      border-bottom: 1px solid var(--textColor-darkest);
      color: var(--textColor);
      padding-left: 6px;
      padding-bottom: 15px;
      font-size: 18px;
      line-height: 24px;
    }
    .settings-profile__box-body {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px 0 5px;
    }
    .settings-profile__box-text {
      color: var(--textColor);
      width: 46%;
      margin-right: 4rem;
      .settings-profile__box-text__title {
        font-size: 14px;
        line-height: 17px;
        margin-top: 20px;
        margin-bottom: 6px;
      }
      .settings-profile__box-text__disabled {
        background-color: var(--bgColor-light);
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        padding: 5px;
        font-style: italic;
        color: var(--textColor-dark);
        font-size: 12px;
      }
      .settings-profile__box-text__timegoal {
        background-color: var(--bgColor);
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        padding: 5px;
        color: var(--textColor);
        font-size: 12px;
        height: 30px;
        width: 100%;
      }
      :focus {
        outline: 1px solid $mainColor;
      }
      .settings-profile__box-text__msg {
        background-color: var(--bgColor);
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        padding: 5px;
        color: var(--textColor);
        font-size: 12px;
        height: 120px;
        width: 100%;
        white-space: pre-wrap;
      }
      .settings-profile__box-btn {
        cursor: pointer;
        border: none;
        font-size: 13px;
        background-color: $mainColor;
        color: #eeeeee;
        width: 7rem;
        height: 28px;
        border-radius: 5px;
        margin-top: 30px;
      }
    }
    .settings-profile__box-img {
      margin-top: 25px;
      .settings-profile__box-img-file {
        position: relative;
      }
      .settings-profile-box-img-edit {
        cursor: pointer;
        border: 1px solid var(--borderColor);
        background-color: var(--bgColor);
        border-radius: 5px;
        color: var(--textColor-dark);
        position: relative;
        left: -65px;
        top: 65px;

        & svg {
          margin-right: 5px;
          margin-bottom: 2px;
        }
      }
    }
  }
}
