@import "main.scss";

.settings-admin {
  font-family: $font-family;
  width: 100%;
  padding-top: 80px;
  .settings-admin__header {
    border-bottom: 1px solid var(--textColor-darkest);
    color: var(--textColor);
    padding-left: 6px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
  }
  .settings-admin__body-text {
    padding-top: 15px;
    font-size: 12px;
    line-height: 14px;
    color: var(--textColor-darker);
    margin-bottom: 13px;
    .settings-admin__body-text-head {
      font-weight: 500;
      color: var(--textColor-dark);
      margin-bottom: 3px;
    }
    .settings-admin__body-text-body {
      margin-bottom: 10px;
    }
  }
  .settings-admin__body-btn {
    font-size: 14px;
    line-height: 17px;
    color: var(--textColor-dark);
    width: 126px;
    height: 30px;
    border: 1px solid var(--borderColor);
    background-color: var(--bgColor);
    margin-bottom: 66px;
  }
  .settings-admin-input-nickname {
    .modal {
      > section {
        max-width: 450px;
      }
    }
    .settings-admin-input-nickname-header {
      font-size: 14px;
      margin-bottom: 30px;
      color: var(--textColor);
    }
    & input {
      color: var(--textColor);
      font-size: 12px;
      background-color: var(--bgColor);
      border: 1px solid var(--borderColor);
    }
    :focus {
      outline: 1px solid $mainColor;
    }
    .message {
      font-size: 12px;
      position: relative;
      top: 20px;
      // left: -50px;
      &.success {
        color: $mainColor;
      }
      &.error {
        color: red;
      }
    }
    & button {
      cursor: pointer;
      border: none;
      background-color: $mainColor;
      color: #eeeeee;
      font-size: 13px;
      width: 3rem;
      height: 30px;
      border-radius: 5px;
      margin-left: 5px;
      &:disabled {
        cursor: default;
        background-color: #808080;
      }
    }
  }
  .settings-admin-input-pwd {
    // width: 30rem;
    text-align: center;
    .settings-admin-input-heading {
      font-size: 14px;
      text-align: left;
      color: var(--textColor);
      padding: 20px 0 10px 60px;
    }
    & input {
      background-color: var(--bgColor);
      border: 1px solid var(--borderColor);
      margin-bottom: 10px;
      font-size: 12px;
      color: var(--textColor);
      width: 16rem;
      border-radius: 5px;
      height: 30px;
    }
    ::placeholder {
      color: var(--textColor-darker);
    }
    :focus {
      outline: 1px solid $mainColor;
    }
    .message {
      font-size: 12px;
      position: relative;
      top: -5px;
      // left: -50px;
      &.confirm {
        left: -40px;
      }
      &.success {
        color: $mainColor;
      }
      &.error {
        color: red;
      }
    }
    & button {
      cursor: pointer;
      border: none;
      background-color: $mainColor;
      color: #eeeeee;
      font-size: 12px;
      width: 8rem;
      height: 28px;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 40px;
      &:disabled {
        cursor: default;
        background-color: #808080;
      }
    }
  }
}
