@import "main.scss";

.settings-study {
  padding-top: 80px;
  width: 100%;
  .settings-study-heading {
    padding-left: 10px;
    .settings-study-heading__h1 {
      font-size: 20px;
      color: var(--textColor);
      &.second-box {
        margin-top: 4.5rem;
      }
    }
    .settings-study-heading__h2 {
      font-size: 12px;
      line-height: 14px;
      color: var(--textColor-dark);
      margin-bottom: 17px;
    }
  }
  .settings-study-details-img-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 5px;
    & img {
      position: relative;
      top: -20px;
      left: 0;
      transform: translate(50, 50);
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
      border-radius: 100%;
      // padding-right: 10px;
    }
    & svg {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(50, 50);
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
      border-radius: 100%;
      &.host-crown {
        top: -54px;
        left: 2px;
        width: 80%;
        height: 80%;
      }
    }
  }
  .settings-study-members {
    padding: 20px;
    display: flex;
    .settings-study-members-left {
      width: 48%;
      margin-right: 4%;
    }
    .settings-study-members-right {
      width: 48%;
    }
    .settings-study-members__heading {
      font-size: 14px;
      // margin: 0 20px;
      padding: 20px 0 5px 5px;
      border-bottom: 1px solid var(--textColor-darker);
      color: var(--textColor);
      // width: 40;
    }
    .settings-study-members__queue {
      display: flex;
      // width: 100%;
      // border: 1px solid var(--borderColor);
      // border-radius: 10px;
      // background-color: var(--bgColor);
      // padding: 15px 20px;

      height: 5rem;
      overflow: auto;
      margin: 8px 10px 0 10px;
      font-size: 13px;
      .queue-left {
        width: 50%;
      }
      .queue-username {
        cursor: pointer;
        padding: 8px 0;
        color: var(--textColor);
      }
    }
  }
  .apply-modal-member {
    display: flex;
    text-align: left;
    .settings-study-details-img-wrapper {
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 100%;
      margin: 12px 30px 10px 30px;
      & img {
        position: relative;
        top: -250px;
        left: 0;
        transform: translate(50, 50);
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
        border-radius: 100%;
        // padding-right: 10px;
      }
      & svg {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(50, 50);
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
        border-radius: 100%;
        &.host-crown {
          top: -34px;
          left: 2px;
          width: 80%;
          height: 80%;
        }
      }
    }
    .setting-study-details-profile-content {
      margin-top: 50px;
      .setting-study-details-profile-header {
        display: flex;
        align-items: flex-end;
        // margin-bottom: 5px;
      }
      .setting-study-details-profile-body {
        margin: 10px 0;
        display: flex;
      }
      .setting-study-details-profile-content__nickname {
        font-size: 20px;
        font-weight: 600;
        color: var(--textColor);
        margin-right: 8px;
      }
      .setting-study-details-profile-content__level {
        font-size: 14px;
        color: $mainColor;
        padding-bottom: 3px;
      }
      .setting-study-details-profile-content__time {
        font-size: 16px;
        color: var(--textColor);
        margin-right: 40px;
        .content-title {
          color: var(--textColor-darker);
          font-size: 12px;
        }
      }
      .setting-study-details-profile-content__warning {
        font-size: 16px;
        color: var(--textColor);
        margin-right: 40px;
        .content-title {
          color: var(--textColor-darker);
          font-size: 12px;
        }
      }
      .setting-study-details-profile-content__message {
        font-size: 16px;
        color: var(--textColor);
        margin-right: 18px;
        // margin-top: 5px;
        .content-title {
          color: var(--textColor-darker);
          // margin-top: 5px;
          font-size: 12px;
        }
        .content-body {
          color: var(--textColor-dark);
          font-size: 13px;
          width: 300px;
          white-space: pre-wrap;
        }
      }
    }
  }
  .btn-accept {
    border: none;
    border-radius: 5px;
    width: 4rem;
    height: 2rem;
    font-size: 14px;
    background-color: $mainColor;
    color: #eeeeee;
    // margin: 15px 10px 20px 0;
  }
  .btn-reject {
    border-radius: 5px;
    width: 4rem;
    height: 2rem;
    font-size: 14px;
    // border: none;
    // background-color: rgb(203, 50, 50);
    // color: #eeeeee;
    border: 1px solid $mainColor;
    color: var(--textColor);
    background-color: var(--bgColor);
    margin: 12px 16px 20px 0;
  }
  .settings-study-mystudies {
    & table {
      width: 100%;
      border-top: 1.5px solid var(--textColor);
      border-bottom: 1.5px solid var(--textColor);
      & tbody {
        & tr {
          &.settings-study-mystudy {
            border-bottom: 1px solid var(--textColor-darkest);
          }
          &.is-check {
            background-color: var(--bgColor);
            opacity: 65%;
          }
          &.study-selected {
            background-color: var(--bgColor);
            opacity: 65%;
          }
          .settings-study-mystudy-category {
            font-size: 12px;
            text-align: center;
            width: 10%;
            color: $mainColor;
            font-weight: 500;
          }
          .settings-study-mystudy-title {
            cursor: pointer;
            padding: 0.6rem 0 0.6rem 0.4rem;
            font-size: 13px;
            color: var(--textColor);
            width: 70%;
            .mystudy-shorts {
              font-size: 12px;
              color: var(--textColor-dark);
            }
          }
          .settings-study-mystudy-status {
            font-size: 13px;
            width: 15%;
            color: var(--textColor);
            text-align: center;
          }
          .settings-study-mystudy-members {
            font-size: 13px;
            width: 5%;
            color: var(--textColor);
          }
        }
      }
    }
  }
  .settings-study-details {
    // margin-top: 3rem;
    font-family: $font-family;
    margin: 1.5rem 10px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    background-color: var(--bgColor);
    padding: 20px;

    .settings-study-details-box-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .settings-study-details-box-heading__first-host-btn {
        border: none;
        text-decoration: none;
        background-color: var(--bgColor);
        font-size: 12px;
        color: var(--textColor-dark);
        padding-right: 5px;
        &.update {
          margin-right: 10px;
        }
      }
    }
    .settings-study-details-box-heading__first {
      display: flex;
      padding: 5px 0 10px 6px;
      .settings-study-details-box-heading__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--textColor);
        padding-right: 0.6rem;
      }
      .settings-study-details-box-heading__category {
        color: #eeeeee;
        background-color: rgba(102, 103, 171, 0.7);
        font-size: 12px;
        width: 3rem;
        text-align: center;
        border-radius: 30px;
      }
    }

    .settings-study-details-box-heading__second {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      color: var(--textColor-darker);
      padding-left: 6px;
      .settings-study-details-img-wrapper {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin-right: 5px;
        & img {
          position: relative;
          top: -24px;
          left: 0;
          transform: translate(50, 50);
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
          border-radius: 100%;
          // padding-right: 10px;
        }
        & svg {
          position: relative;
          top: 0;
          left: 0;
          transform: translate(50, 50);
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
          border-radius: 100%;
        }
      }
    }
    .settings-study-details-box-body {
      .settings-study-details-box-body__row {
        height: 24px;
        // padding: 1rem 0 1rem 0;
      }
      .settings-study-details-box-body__title {
        font-size: 13px;
        line-height: 14px;
        font-weight: 500;
        color: var(--textColor);
        width: 4.5rem;
      }
      .settings-study-details-box-body__days {
        display: flex;
      }
      .settings-study-details-box-body__day {
        font-size: 12px;
        line-height: 14px;
        color: var(--textColor);
        padding-right: 5px;
        &.name {
          color: $mainColor;
          font-weight: 500;
        }
        &.timeend {
          margin-right: 10px;
        }
      }
      .settings-study-details-box-body__enddate {
        font-size: 12px;
        line-height: 14px;
        color: var(--textColor);
      }
      .settings-study-details-box-body__shortdesc {
        padding-top: 40px;
        font-size: 12px;
        font-weight: 450;
        color: var(--textColor);
      }
      .settings-study-details-box-body__desc {
        padding-top: 25px;
        font-size: 12px;
        color: var(--textColor);
        white-space: pre-wrap;
      }
    }
    .settings-study-details__btns {
      margin: 50px 10px 10px 0;
      text-align: right;
      .settings-study-details__btn {
        border: none;
        border-radius: 5px;
        background-color: $mainColor;
        color: #eeeeee;
        font-size: 13px;
        margin-right: 10px;
        padding: 8px 14px;

        &.end-study {
          background-color: rgb(208, 58, 58);
        }

        // &.start-study {
        //   border: 1px solid $mainColor;
        //   background-color: var(--bgColor);
        //   color: var(--textColor);
        // }
        &.end-recruit {
          border: 1.2px solid $mainColor;
          background-color: var(--bgColor);
          color: var(--textColor);
        }
      }
    }
  }
}
