@import "main.scss";

.studyrecruit-detail {
  font-family: $font-family;
  background-color: var(--htmlbgColor);
  padding-top: 80px;
  padding-left: 20%;
  padding-right: 20%;
  .studyrecruit-detail-goback {
    font-size: 12px;
    padding-bottom: 9px;
    padding-left: 6px;
    .studyrecruit-detail-goback__link {
      text-decoration: none;
      color: var(--textColor);
      padding-right: 2px;
    }
    & svg {
      margin-bottom: 0.2rem;
      margin-right: 2px;
    }
    .studyrecruit-detail-goback__category {
      color: var(--textColor-darker);
    }
  }
  .studyrecruit-detail-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // height: 720px;
    background-color: var(--bgColor);
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    padding: 20px;

    .studyrecruit-detail-box-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .studyrecruit-detail-box-heading__first-host-btn {
        border: none;
        text-decoration: none;
        background-color: var(--bgColor);
        font-size: 12px;
        color: var(--textColor-dark);
        padding-right: 5px;
        &.update {
          margin-right: 10px;
        }
      }
    }

    .studyrecruit-detail-box-heading__first {
      display: flex;
      padding: 5px 0 10px 6px;
      // padding-left: 6px;
      .studyrecruit-detail-box-heading__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--textColor);
        padding-right: 0.6rem;
      }
      .studyrecruit-detail-box-heading__category {
        color: #eeeeee;
        background-color: rgba(102, 103, 171, 0.7);
        font-size: 12px;
        width: 3rem;
        text-align: center;
        border-radius: 30px;
      }
    }
    .studyrecruit-detail-box-heading__second {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      color: var(--textColor-darker);
      padding-left: 6px;
      .studyrecruit-detail-img-wrapper {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin-right: 5px;
        & img {
          position: relative;
          top: -24px;
          left: 0;
          transform: translate(50, 50);
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
          border-radius: 100%;
          // padding-right: 10px;
        }
        & svg {
          position: relative;
          top: 0;
          left: 0;
          transform: translate(50, 50);
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
          border-radius: 100%;
        }
      }
    }
    .studyrecruit-detail-box-body {
      .studyrecruit-detail-box-body__row {
        height: 24px;
        // padding: 1rem 0 1rem 0;
      }
      .studyrecruit-detail-box-body__title {
        font-size: 13px;
        line-height: 14px;
        font-weight: 500;
        color: var(--textColor);
        width: 4.5rem;
      }
      .studyrecruit-detail-box-body__days {
        display: flex;
      }
      .studyrecruit-detail-box-body__day {
        font-size: 12px;
        line-height: 14px;
        color: var(--textColor);
        padding-right: 5px;
        &.name {
          color: $mainColor;
          font-weight: 500;
        }
        &.timeend {
          margin-right: 10px;
        }
      }
      .studyrecruit-detail-box-body__enddate {
        font-size: 12px;
        line-height: 14px;
        color: var(--textColor);
      }
      .studyrecruit-detail-box-body__shortdesc {
        padding-top: 40px;
        font-size: 12px;
        font-weight: 450;
        color: var(--textColor);

        // line-height: 14px;
      }
      .studyrecruit-detail-box-body__desc {
        padding-top: 25px;
        font-size: 12px;
        color: var(--textColor);
        white-space: pre-wrap;
      }
    }

    .studyrecruit-detail-box-footer__host {
      cursor: pointer;
      border: none;
      background-color: $mainColor;
      color: #eeeeee;
      font-size: 12px;
      border-radius: 5px;
      height: 30px;
      width: 9rem;
      margin-top: 5rem;
    }

    .studyrecruit-detail-box-footer__btn {
      cursor: pointer;
      border: none;
      background-color: $mainColor;
      color: #eeeeee;
      font-size: 14px;
      width: 8rem;
      height: 30px;
      border-radius: 5px;
    }
    .studyapply-modal-msg {
      font-size: 14px;
      color: var(--textColor);
      margin-bottom: 25px;
    }
    .studyapply-modal-ok {
      background-color: $mainColor;
      color: #eeeeee;
      border: none;
      width: 3.8rem;
      height: 1.8rem;
      font-size: 12px;
      border-radius: 5px;
      margin-right: 8px;
    }
    .studyapply-modal-go-to-mystudy {
      background-color: var(--bgColor);
      color: var(--textColor);
      border: 1px solid $mainColor;
      width: 8rem;
      height: 1.8rem;
      font-size: 12px;
      border-radius: 5px;
    }
  }
}
