@import 'main.scss';

.schedule-today-study {
  font-family: $font-family;
}

.schedule-today-study-header {
  font-size: 16px;
  color: var(--textColor);
  padding-left: 16px;
}
.schedule-today-study-box {
  // margin: 0.5rem;
  // margin: 0.5rem 0 0 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  // min-height: 8rem;
  // max-width: 426px;
  // width: 15rem;
  // &.card {
  //   padding: 0.5rem;
  // }
}
.schedule-today-study-contents {
  padding: 1.2rem 1.4rem;
  background-color: var(--bgColor);
  border: 1px solid var(--borderColor);
  border-radius: 10px;

  .schedule-today-study-contents-header {
    margin-bottom: 3px;
  }
  .schedule-today-study-contents-foot {
    display: flex;
  }

  .schedule-today-study-contents__category {
    font-size: 12px;
    color: $mainColor;
  }
  .schedule-today-study-contents__title {
    padding: 0.6rem 0.8rem;
    font-size: 14px;
    color: var(--textColor);
  }
  .schedule-today-study-contents__desc {
    font-size: 12px;
    color: var(--textColor-dark);
    margin-bottom: 5px;
  }
  .schedule-today-study-contents__time {
    font-size: 13px;
    color: var(--textColor-dark);
    & svg {
      margin-right: 3px;
      margin-bottom: 2px;
    }
  }
  .schedule-today-study-contents__members {
    font-size: 13px;
    color: var(--textColor-dark);
    margin-right: 10px;
    & svg {
      margin-right: 3px;
      margin-bottom: 2px;
    }
  }
  .no-contents {
    font-size: 12px;
    color: var(--textColor-dark);
  }
}
