@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --htmlbgColor: #ffffff;
  --bgColor: #fcfcfc;
  --bgColor-light: #eaeaea;
  --borderColor: #ededed;
  --borderColor2: #d6d6d6;
  --borderColor3: #e1e1e1;
  --textWhite: #eeeeee;
  --textColor: #252525;
  --textColor-dark: #8a8a8a;
  --textColor-darker: #a1a1a1;
  --textColor-darkest: #c2c2c2;
  --github-01: #e8eaee;
  --github-02: #d5d6f5;
  --github-03: #9fa2e3;
}

.ui-dark {
  background-color: var(--htmlbgColor);
  --htmlbgColor: #292929;
  --bgColor: #373737;
  --bgColor-light: #4a4a4a;
  --bgColor-lighter: #565656;
  --bgColor-dark: #1b1b1b;
  --borderColor: #444444;
  --borderColor2: #444444;
  --borderColor3: #444444;
  --textColor: #ededed;
  --textColor-dark: #8a8a8a;
  --textColor-darker: #8a8a8a;
  --textColor-darkest: #838383;
  --github-01: rgba(102, 103, 171, 0.2);
  --github-02: rgba(102, 103, 171, 0.4);
  --github-03: rgba(102, 103, 171, 0.7);
}

.hidden {
  display: none;
}

.login {
  font-family: "Pretendard";
  height: 100vh;
  background-color: var(--htmlbgColor);
  display: flex;
  align-items: center;
}
.login .login-image {
  height: 100vh;
  width: auto;
}
.login .login-image img {
  max-height: 100%;
}
.login .login-feat {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.login .login-feat .login-feat-box {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.login .login-feat .login-feat-box .login-feat-box-header {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.login .login-feat .login-feat-box .login-feat-box-header span {
  color: var(--textColor);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}
.login .login-feat .login-feat-box .login-feat-box-header .content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: var(--textColor-dark);
  padding-top: 6px;
  padding-bottom: 12px;
}
.login .login-feat .login-feat-box .login-feat-box-content {
  background: var(--bgColor);
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 7px;
  padding: 20px;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-email {
  display: flex;
  flex-direction: column;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-email span {
  color: var(--textColor);
  padding-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-email input {
  height: 40px;
  background: var(--htmlbgColor);
  border: 1px solid var(--borderColor3);
  box-sizing: border-box;
  border-radius: 7px;
  color: var(--textColor);
  padding-left: 5px;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-email :focus {
  outline: 1.8px solid #6667ab;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-email ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--textColor-darkest);
  padding-left: 5px;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-pwd {
  display: flex;
  flex-direction: column;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-pwd .input-pwd-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-pwd .input-pwd-header span {
  color: var(--textColor);
  padding-top: 15px;
  padding-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-pwd .input-pwd-header .content {
  font-size: 10px;
  line-height: 12px;
  color: #8f8f8f;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-pwd input {
  height: 40px;
  background: var(--htmlbgColor);
  border: 1px solid var(--borderColor3);
  box-sizing: border-box;
  border-radius: 7px;
  color: var(--textColor);
  padding-left: 5px;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-pwd :focus {
  outline: 1.8px solid #6667ab;
}
.login .login-feat .login-feat-box .login-feat-box-content .input-pwd ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--textColor-darkest);
  padding-left: 5px;
}
.login .login-feat .login-feat-box .login-feat-box-content .submit-btn {
  padding-top: 30px;
}
.login .login-feat .login-feat-box .login-feat-box-content .submit-btn .message {
  color: red;
  font-size: 12px;
  margin-bottom: 6px;
}
.login .login-feat .login-feat-box .login-feat-box-content .submit-btn .btn-xl {
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: white;
  background-color: #6667ab;
  font-size: 16px;
  line-height: 19px;
  border: 0px;
  border-radius: 7px;
  margin-top: 6px;
}
.login .login-feat .login-feat-box .login-feat-box-footer {
  margin-top: 25px;
  background: var(--bgColor);
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 7px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .login-feat .login-feat-box .login-feat-box-footer span {
  font-size: 14px;
  color: var(--textColor-dark);
  padding: 5px;
}
.login .login-feat .login-feat-box .login-feat-box-footer .signup-link {
  text-decoration: none;
  color: #6667ab;
}

/*# sourceMappingURL=login.css.map */
