@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --htmlbgColor: #ffffff;
  --bgColor: #fcfcfc;
  --bgColor-light: #eaeaea;
  --borderColor: #ededed;
  --borderColor2: #d6d6d6;
  --borderColor3: #e1e1e1;
  --textWhite: #eeeeee;
  --textColor: #252525;
  --textColor-dark: #8a8a8a;
  --textColor-darker: #a1a1a1;
  --textColor-darkest: #c2c2c2;
  --textColor-todo: #6c757d;
  --github-01: #e8eaee;
  --github-02: #d5d6f5;
  --github-03: #9fa2e3;
  --board-textColor: #646464;
  --if-bgColor: #f9f9f9;
  --if-borderColor: #e5e5e5;
}

.ui-dark {
  background-color: var(--htmlbgColor);
  --htmlbgColor: #292929;
  --bgColor: #373737;
  --bgColor-light: #4a4a4a;
  --bgColor-lighter: #565656;
  --bgColor-dark: #1b1b1b;
  --borderColor: #444444;
  --borderColor2: #444444;
  --borderColor3: #444444;
  --textColor: #ededed;
  --textColor-dark: #8a8a8a;
  --textColor-darker: #6f6f6f;
  --textColor-darkest: #838383;
  --textColor-todo: #cdcdcd;
  --github-01: rgba(102, 103, 171, 0.2);
  --github-02: rgba(102, 103, 171, 0.4);
  --github-03: rgba(102, 103, 171, 0.7);
  --board-textColor: #ededed;
  --if-bgColor: #323232;
  --if-borderColor: #444444;
}

.hidden {
  display: none;
}

.modalLarge {
  font-family: "Pretendard";
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modalLarge svg {
  cursor: pointer;
  height: 15px;
}
.modalLarge > section {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: var(--htmlbgColor);
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modalLarge > section > header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 15px 15px 0px 15px;
  background-color: var(--htmlbgColor);
  font-weight: 700;
}
.modalLarge > section > main {
  padding: 5px 16px 30px 16px;
  text-align: center;
}
.modalLarge > section > main .main-heading {
  font-size: 14px;
  color: var(--textColor);
  padding-bottom: 20px;
  font-weight: 500;
}
.modalLarge > section > main .main-body-select {
  font-size: 12px;
  columns: var(--textColor);
  padding-bottom: 10px;
}
.modalLarge > section > main .main-body-select .main-body-title {
  padding-right: 18px;
}
.modalLarge > section > main .main-body-select .main-body-time {
  padding-left: 3px;
  padding-right: 8px;
}
.modalLarge > section > main .main-footer-cancel {
  border: 1.5px solid #6667ab;
  border-radius: 5px;
  width: 75px;
  height: 24px;
  font-size: 10px;
  line-height: 12px;
  color: var(--textColor);
  background-color: var(--bgColor);
  margin-right: 6px;
}
.modalLarge > section > main .main-footer-submit {
  border: none;
  width: 75px;
  height: 24px;
  font-size: 10px;
  line-height: 12px;
  border-radius: 5px;
  color: #eeeeee;
  background-color: #6667ab;
  margin-top: 16px;
}
.modalLarge > section > footer {
  padding: 12px 16px;
  text-align: right;
}

.modalLarge.openModalLarge {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

/*# sourceMappingURL=modalLarge.css.map */
