@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --htmlbgColor: #ffffff;
  --bgColor: #fcfcfc;
  --bgColor-light: #eaeaea;
  --borderColor: #ededed;
  --borderColor2: #d6d6d6;
  --borderColor3: #e1e1e1;
  --textWhite: #eeeeee;
  --textColor: #252525;
  --textColor-dark: #8a8a8a;
  --textColor-darker: #a1a1a1;
  --textColor-darkest: #c2c2c2;
  --github-01: #e8eaee;
  --github-02: #d5d6f5;
  --github-03: #9fa2e3;
  --board-textColor: #646464;
}

.ui-dark {
  background-color: var(--htmlbgColor);
  --htmlbgColor: #292929;
  --bgColor: #373737;
  --bgColor-light: #4a4a4a;
  --bgColor-lighter: #565656;
  --bgColor-dark: #1b1b1b;
  --borderColor: #444444;
  --borderColor2: #444444;
  --borderColor3: #444444;
  --textColor: #ededed;
  --textColor-dark: #8a8a8a;
  --textColor-darker: #6f6f6f;
  --textColor-darkest: #838383;
  --github-01: rgba(102, 103, 171, 0.2);
  --github-02: rgba(102, 103, 171, 0.4);
  --github-03: rgba(102, 103, 171, 0.7);
  --board-textColor: #ededed;
}

.hidden {
  display: none;
}

.settings-profile {
  width: 100%;
}
.settings-profile .settings-profile__box {
  padding: 80px 10px 0 15px;
}
.settings-profile .settings-profile__box .settings-profile__box-heading {
  border-bottom: 1px solid var(--textColor-darkest);
  color: var(--textColor);
  padding-left: 6px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
}
.settings-profile .settings-profile__box .settings-profile__box-body {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 5px;
}
.settings-profile .settings-profile__box .settings-profile__box-text {
  color: var(--textColor);
  width: 46%;
  margin-right: 4rem;
}
.settings-profile .settings-profile__box .settings-profile__box-text .settings-profile__box-text__title {
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px;
  margin-bottom: 6px;
}
.settings-profile .settings-profile__box .settings-profile__box-text .settings-profile__box-text__disabled {
  background-color: var(--bgColor-light);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  padding: 5px;
  font-style: italic;
  color: var(--textColor-dark);
  font-size: 12px;
}
.settings-profile .settings-profile__box .settings-profile__box-text .settings-profile__box-text__timegoal {
  background-color: var(--bgColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  padding: 5px;
  color: var(--textColor);
  font-size: 12px;
  height: 30px;
  width: 100%;
}
.settings-profile .settings-profile__box .settings-profile__box-text :focus {
  outline: 1px solid #6667ab;
}
.settings-profile .settings-profile__box .settings-profile__box-text .settings-profile__box-text__msg {
  background-color: var(--bgColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  padding: 5px;
  color: var(--textColor);
  font-size: 12px;
  height: 120px;
  width: 100%;
  white-space: pre-wrap;
}
.settings-profile .settings-profile__box .settings-profile__box-text .settings-profile__box-btn {
  cursor: pointer;
  border: none;
  font-size: 13px;
  background-color: #6667ab;
  color: #eeeeee;
  width: 7rem;
  height: 28px;
  border-radius: 5px;
  margin-top: 30px;
}
.settings-profile .settings-profile__box .settings-profile__box-img {
  margin-top: 25px;
}
.settings-profile .settings-profile__box .settings-profile__box-img .settings-profile__box-img-file {
  position: relative;
}
.settings-profile .settings-profile__box .settings-profile__box-img .settings-profile-box-img-edit {
  cursor: pointer;
  border: 1px solid var(--borderColor);
  background-color: var(--bgColor);
  border-radius: 5px;
  color: var(--textColor-dark);
  position: relative;
  left: -65px;
  top: 65px;
}
.settings-profile .settings-profile__box .settings-profile__box-img .settings-profile-box-img-edit svg {
  margin-right: 5px;
  margin-bottom: 2px;
}

/*# sourceMappingURL=settingsProfile.css.map */
